.card-custom {
    height: 100%;
    transition: .5s ease-in all;
}

.card-custom:hover {
    background: #F8F9FA;
}

.card-icon {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.card-title {
    transition: color .5s ease-in;
}